<!DOCTYPE HTML>
<!--
	Miniport by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

<head>
    <title>SingOut</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/assets/css/main.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
</head>

<body class="is-preload" #0e2439 style="background:#0e2439">

    <!-- Nav -->
    <nav id="nav">
        <ul class="container">
            <li><a href="/">Home</a></li>
            <li><a href="/upload">Upload</a></li>
        </ul>
    </nav>

    <!-- Home -->
    <article id="top" class="wrapper style1">
        <div class="container">
            <div class="row">
                <div class="col-4 col-5-large col-12-medium">
                    <span class="image fit"><img src="/images/one.jpg" alt="" /></span>
                </div>
                <div class="col-8 col-7-large col-12-medium">
                    <header>
                        <h1><strong style="color:white;">
                                <%= song.title %></strong>.</h1>
                    </header>
                    <p style="color:white;">Posted by <strong>
                            <%= song.username %></strong></p>
                    <p style="color:#4799eb">Enjoying the<strong class="animated fadeInDown slow infinite" style="color:yellow">
                            Music
                        </strong><span style="color:yellow;font-weight: bolder">|</span> Let us <strong class="animated fadeInDown slow delay-1s infinite"
                            style="color:yellow">
                            Know </strong><span style="color:yellow;font-weight: bolder">|</span> Likes <strong class="animated fadeInDown"
                            style="color:yellow">
                            <a><span id="likes" onclick="like()" style="cursor:pointer;color: pink" class="icon fa-thumbs-o-up">
                                    <%= song.likes %></span></a></a></strong></p>
                    <audio style="display:none" id="music" controls>
                        <source src="<%= song.song %>" type="audio/ogg">
                        Your browser does not support the audio tag.
                    </audio>
                    <button style="background:yellow" id="pButton" class="play" onclick="playAudio()">Play</button>
                </div>
                <div class="col-12 col-9-large col-12-medium" style="text-align:center">
                </div>
            </div>
        </div>
    </article>

    <!-- Work -->
    <article id="work" class="wrapper style2">
        <div class="container">
            <header>
                <h2>
                    <%= song.short_description %>
                </h2>
                <p>
                    <%= song.long_description %>
                </p>
            </header>
            <hr>
            <footer>
                <!-- <p>Lorem ipsum dolor sit sapien vestibulum ipsum primis?</p> -->
                <a href="/songs" class="button large scrolly">Back</a>
            </footer>
            <hr>
            <footer style="margin-bottom:4px;">
                <p>Donate to the platform</p>
                <form>
                        <div class="row">
                            <div class="col-4 col-12-small">
                                <input style="background:whitesmoke" type="text" required name="Email" id="email" placeholder="Email" />
                            </div>
                            <div class="col-4 col-12-small">
                                <input style="background:whitesmoke" type="text" required name="amount" id="amount" placeholder="Amount" />
                            </div>
                            <div class="col-4 col-12-small">
                                <input style="background:whitesmoke" type="text" required name="phone" id="phone" placeholder="PhoneNumber" />
                            </div>
                        </div>
                        <br>
                        <script src="https://api.ravepay.co/flwv3-pug/getpaidx/api/flwpbf-inline.js"></script>
                        <button type="button" onClick="payWithRave()">Donate</button>
                    </form>
    
                    <script>
                        const API_publicKey = "FLWPUBK-4b269be60dcfd59088f42e10cfc2f43a-X";
    
                        function payWithRave() {
                            var x = getpaidSetup({
                                PBFPubKey: API_publicKey,
                                customer_email: document.querySelector('#email').value,
                                amount: Number(document.querySelector('#amount').value),
                                customer_phone: document.querySelector('#phone').value,
                                currency: "USD",
                                txref: "rave-123456",
                                meta: [{
                                    metaname: "flightID",
                                    metavalue: "AP1234"
                                }],
                                onclose: function () { },
                                callback: function (response) {
                                    var txref = response.tx.txRef; // collect txRef returned and pass to a 					server page to complete status check.
                                    console.log("This is the response returned after a charge", response);
                                    if (
                                        response.tx.chargeResponseCode == "00" ||
                                        response.tx.chargeResponseCode == "0"
                                    ) {
                                        // redirect to a success page
                                    } else {
                                        // redirect to a failure page.
                                    }
    
                                    x.close(); // use this to close the modal immediately after payment.
                                }
                            });
                        }
                    </script>
                    <br>
                <p>made by <a target="blank" href="https://twitter.com/phirmware">@phirmware</a></p>
            </footer>
        </div>
    </article>

    <script>
        // variable to store HTML5 audio element
        var music = document.getElementById('music');
        var pButton = document.getElementById('pButton');
        function playAudio() {
            if (music.paused) {
                music.play();
                pButton.innerHTML = "Playing";
            } else {
                music.pause();
                pButton.innerHTML = "Paused";
            }
        }


        function like() {
            $.get('/api/like/<%= song._id %>').then(res => {
                if (res['statusCode'] == 200) {
                    var initialNumber = document.querySelector('#likes').textContent;    
                    document.querySelector('#likes').innerHTML = Number(initialNumber) + 1
                }
            });
        }
    </script>
    <!-- Scripts -->
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/jquery.scrolly.min.js"></script>
    <script src="/assets/js/browser.min.js"></script>
    <script src="/assets/js/breakpoints.min.js"></script>
    <script src="/assets/js/util.js"></script>
    <script src="/assets/js/main.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-130188006-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-130188006-1');
  </script>

</body>

</html>